.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}